@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap");

@font-face {
  font-family: "Satoshi";
  src: url("./fonts/Satoshi-Bold.otf");
  font-weight: bold;
}

@tailwind base;
@tailwind components;
@tailwind utilities;

nav li:hover a {
  position: relative;
  top: 1px;
}

.submenu {
  position: absolute;
  top: calc(100% + 1px);
  left: -100%;
  width: 100%;
  height: auto;
  padding-top: 12px;
  padding-bottom: 26px;
  background: white;
  border-bottom-left-radius: 32px;
  border-bottom-right-radius: 32px;
}

nav li:hover > .submenu {
  visibility: visible;
  left: 0;
}

.bgHero {
  background: linear-gradient(#5d750f 85%, #fff 15%);
}

.swiper-custom-pagination .swiper-pagination-bullet {
  background: white !important;
}

.swiper-custom-pagination .swiper-pagination-bullet-active {
  background: white !important;
}
